# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sdf
*.opensdf
/msvc/GeneratedFiles
/msvc/tmp
/bin

msvc/Debug/
msvc/src/
data/room_frames/
data/
msvc/QtKinect.v12.suo
msvc/vc120.pdb
